# .gitignore в корне проекта

# Файлы окружения
.env
*.env

# Файлы с паролями
secrets.ini
config.ini

# Базы данных
*.db
*.sqlite
passwords.json  # старый JSON файл

# Питон
__pycache__/
*.pyc
*.pyo
*.pyd

# Документация
docs/build/
docs/_build/